.container{
position: absolute;
top: 5%;
right: 5%;
background-color: red;
color: rgb(255, 255, 255);
display: flex;
padding: 0.5rem 1rem;
justify-content: center;
align-items: center;
width: 20rem;
}

.heading{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-self: center;
}

.button{
    background-color: transparent;
    color: white;
    border: none;
}