.container{
position: absolute;
top: 5%;
right: 5%;
background-color: red;
color: white;
display: flex;
justify-content: center;
align-items: center;
width: 20rem;
}

.heading{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-self: center;
}